%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} #{Settings.brand_name}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:name => "query", :placeholder => "Search", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %text.nav.navbar-nav.navbar-right
        #{Ticket.checked_in.count} checked in
        %br
        #{Ticket.checked_in_today.count} checked in today

-if @query
  %h2= "Tickets matching '#{@query}'"
  =link_to "Clear query and show all tickets", tickets_path
-else
  %h2 All Tickets

-if @tickets.empty?
  %h3= "No matches"
-else
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Email
        %th Checked In
        %th
    -@tickets.each do |ticket|
      %tr
        %th=ticket.id
        %td=ticket.pseudonym || ticket.name
        %td=ticket.email
        %td
          -if ticket.checked_in_at
            %span.glyphicon.glyphicon-ok
        %td
          =link_to "Details", ticket
