!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KassaBlanca
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      -if flash.any?
        .row
          .col-md-12
            .flash
              -flash.each do |msg_type, message|
                %div{ class: "alert #{bootstrap_class_for(msg_type)} fade in", role: "alert" }
                  %button.close{ data: { dismiss: 'alert' }} ×
                  %span=message
      = yield
